APP_HOST=127.0.0.1
APP_PORT=8000

LOG_LEVEL=info
LOG_HANDLERS=["file"]
LOG_FORMAT_TYPE=json
LOG_FILE=logs/app.log

# 为空禁用 openapi swagger
OPENAPI_URL=""

OPENAI_BASE_URL=
OPENAI_API_KEY=your-api-key-here
OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.7

# Postgres Checkpointer 连接
POSTGRES_CHECKPOINTER_CONN_STR=postgresql://用户名:密码@IP:PORT/数据库名
