APP_HOST=127.0.0.1
APP_PORT=8000

# 日志级别。debyg、info、waring、error
LOG_LEVEL=info
# 日志处理方式。console-控制台 file-文件
LOG_HANDLERS=["console"]
# 日志格式类型。text-文本 json-JSON 格式
LOG_FORMAT_TYPE=text
# 日志处理方式为 file 时的日志文件
LOG_FILE=logs/app.log

OPENAI_BASE_URL=
# API Key。可以使用环境变量。如 ${api-key}
OPENAI_API_KEY=your-api-key-here
OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.7

# Postgres Checkpointer 连接
POSTGRES_CHECKPOINTER_CONN_STR=postgresql://用户名:密码@IP:PORT/数据库名
